* {
  box-sizing: border-box;
  font-family: "Anonymous Pro", monospace;
  font-family: "Cormorant Garamond", serif;
  font-family: "Scheherazade New", serif;
}

body {
  width: auto;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(245, 245, 245);
  background-image: url("./img/degradado3.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: left bottom;
  background-position-y: 150px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 12px;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 80px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  &__options {
    width: 650px;
  }

  &__options__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__options__buttons input {
    font-family: "Anonymous Pro", monospace;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    padding: 1.5px;
    border: none;
  }
}

hr {
  color: black;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container__grid {
  display: flex;
  align-items: flex;
  justify-content: center;

  &__board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    flex: 300px;
    background-color: blue;
  }
  .rows {
    width: 100px;
    height: 100px;
    flex-grow: 1;
    border: none;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    border: 2px solid black;

    margin: 10px;
  }

  .columns {
    width: 100%;
    border: none;
    background-color: green;
    background-size: 100%;
    margin: 1px;
    padding: 0;
    border: 2px solid black;
  }
}
